<!-- Footer -->
              <footer class="my__footer">
                    
                 <div class="col-md-12 text-center">
                    <p>&copy; 2016 | Supraescolar - Mario González Hernández <br>
                    Si tienes alguna duda, puedes escribir a <a class="blanco" href="mailto:marioglezhdez@me.com">marioglezhdez@me.com</a>
                    </p></div>
                    
		            
		      </footer>
				
                   <script src="js/jquery-2.1.4.min.js"></script>
                <script src="js/scrollreveal.min.js"></script>
                <script src="js/parallax.js"></script>
                <script src="js/scripts.js"></script>
                <!-- Google Analytics -->
                  <script>
                  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

                  ga('create', 'UA-82837745-1', 'auto');
                  ga('send', 'pageview');

                  </script>